.app {
  text-align: center;
  width: 30%;
  margin: auto;
  min-height: 50rem;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  @media(max-width: 767px) {
    width: 80%;
  }
  @media(min-width: 768px)and(max-width: 1023px) {
    width: 70%;
  }
  &-header {
    color: white;
  }
  &-container {
    padding: 1rem;
    width: 90%;
    margin: auto;
    background-color: #C8CCE6;
    border: 5px solid white;
    border-radius: 15px;
  }
}

