.app {
  text-align: center;
  width: 30%;
  margin: auto;
  min-height: 50rem;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  @media(max-width: 767px) {
    width: 80%;
  }
  @media(min-width: 768px)and(max-width: 1023px) {
    width: 70%;
  }
  &-header {
    color: white;
  }
  &-content {
    padding: 1rem;
    width: 90%;
    margin: auto;
    background-color: #C8CCE6;
    border: 5px solid white;
    border-radius: 15px;
  }
}

.red {
  background-color: rgb(85, 7, 7);
}
.green {
  background-color: rgb(9, 48, 9);
}
.blue {
  background-color: rgb(46, 46, 124);
}
.dark {
  background-color: #282c34;
}
.light {
  background-color: rgb(155, 138, 106);
}